<div class="shopify-section-modal flex justify-center">
  <div id="customModalHallofFame" class="fixed inset-0 z-[9999] hidden flex items-start justify-center overflow-y-auto"
  style="background: var(--gs-blur-gs-blur-dark-90, rgba(16, 28, 38, 0.90)); backdrop-filter: blur(48px);">
    
    <div class="bg-transparent w-full overflow-hidden mb-10 transform transition-all">
      
      <div class="flex gap-10 justify-between items-center px-4 md:px-10 lg:px-[64px] xl:px-[128px] pt-6 pb-6 md:pb-10 md:pt-20 lg:pt-[96px]">
        <h2 class="heading-sm_gs md:heading-md_gs lg:heading-lg_gs text-color_gs" >
          {{ section.settings.modal_title | default: 'Titolo Modale' }}
        </h2>
        <button id="closeBtn">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M18.5418 4.32754C18.8347 4.03472 19.3094 4.03468 19.6023 4.32754C19.8951 4.62042 19.8951 5.09521 19.6023 5.38809L12.99 11.9994L19.6023 18.6117C19.8951 18.9046 19.8951 19.3794 19.6023 19.6723C19.3094 19.9652 18.8346 19.9652 18.5418 19.6723L11.9294 13.06L5.45972 19.5307C5.16682 19.8232 4.69195 19.8234 4.39917 19.5307C4.1064 19.2379 4.10665 18.763 4.39917 18.4701L10.8689 11.9994L4.39917 5.53067C4.1064 5.2379 4.10665 4.76305 4.39917 4.47012C4.69207 4.17723 5.16683 4.17723 5.45972 4.47012L11.9294 10.9389L18.5418 4.32754Z" fill="#EBEFF2"/>
            </svg>
        </button>
      </div>

      <div id="modal-content-area">
        {% for block in section.blocks %}
          <div class="flex flex-col md:flex-row pb-[96px] group  px-4 md:px-10 lg:px-[64px] xl:px-[128px]" {{ block.shopify_attributes }}>
            <div class="flex w-full md:w-1/4">
              <h3 class="heading-lg_gs md:title_gs lg:heading-lg_gs text-blue_gs md:mb-[20px] outline-none" >
                {{ block.settings.title_left }}
              </h3>
            </div>
            
            <div class="flex flex-col w-full md:w-3/4">
              <div class="body-md_gs text-color_gs pt-4 md:pt-[20px] pb-4 md:pb-3 transition" style="border-bottom: 0.5px solid #EBEFF2;">
                {{ block.settings.list_right_1 }}
              </div>
              <div class="body-md_gs text-color_gs pt-4 md:pt-[20px] pb-4 md:pb-3 transition" style="border-bottom: 0.5px solid #EBEFF2;">
                {{ block.settings.list_right_2 }}
              </div>
              <div class="body-md_gs text-color_gs pt-4 md:pt-[20px] pb-4 md:pb-3 transition" style="border-bottom: 0.5px solid #EBEFF2;">
                {{ block.settings.list_right_3 }}
              </div>
              <div class="body-md_gs text-color_gs pt-4 md:pt-[20px] pb-4 md:pb-3 transition" style="border-bottom: 0.5px solid #EBEFF2;">
                {{ block.settings.list_right_4 }}
              </div>
              <div class="body-md_gs text-color_gs pt-4 md:pt-[20px] pb-4 md:pb-3 transition" style="border-bottom: 0.5px solid #EBEFF2;">
                {{ block.settings.list_right_5 }}
              </div>
              <div class="body-md_gs text-color_gs pt-4 md:pt-[20px] pb-4 md:pb-3 transition" style="border-bottom: 0.5px solid #EBEFF2;">
                {{ block.settings.list_right_6 }}
              </div>
              <div class="body-md_gs text-color_gs pt-4 md:pt-[20px] pb-4 md:pb-3 transition" style="border-bottom: 0.5px solid #EBEFF2;">
                {{ block.settings.list_right_7 }}
              </div>
              <div class="body-md_gs text-color_gs pt-4 md:pt-[20px] pb-4 md:pb-3 transition" style="border-bottom: 0.5px solid #EBEFF2;">
                {{ block.settings.list_right_8 }}
              </div>
              <div class="body-md_gs text-color_gs pt-4 md:pt-[20px] pb-4 md:pb-3 transition" style="border-bottom: 0.5px solid #EBEFF2;">
                {{ block.settings.list_right_9 }}
              </div>
              <div class="body-md_gs text-color_gs pt-4 md:pt-[20px] pb-4 md:pb-3 transition" style="border-bottom: 0.5px solid #EBEFF2;">
                {{ block.settings.list_right_10 }}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
  </div>
</div>

<script>
  (function() {
    const modal = document.getElementById('customModalHallofFame');
    const openBtn = document.getElementById('openModalHallofFame');
    const closeBtn = document.getElementById('closeBtn');
    const saveBtn = document.getElementById('saveBtn');

    window.format = function(command) {
      document.execCommand(command, false, null);
    };

    openBtn.addEventListener('click', () => {
      modal.classList.remove('hidden');
      document.body.style.overflow = 'hidden';
    });

    const closeModal = () => {
      modal.classList.add('hidden');
      document.body.style.overflow = '';
    };

    closeBtn.addEventListener('click', closeModal);
    
    window.addEventListener('click', (e) => {
      if (e.target === modal) closeModal();
    });
  })();
</script>
