<section class="models-padding px-4 md:px-10 lg:px-[64px] xl:px-[128px] bg_gs bg_gsp"
     style="--padding-top-tablet: {{ section.settings.pt_tab }}px; --padding-bottom-tablet: {{ section.settings.pb_tab }}px;
            --padding-bottom-mobile: {{ section.settings.padding_bottom_mobile }}px;--padding-bottom-desktop: {{ section.settings.padding_bottom_desktop }}px;
            --padding-top-mobile: {{ section.settings.padding_top_mobile }}px; --padding-top-desktop: {{ section.settings.padding_top }}px;">
  <div class="mx-auto">
    
    {% comment %} Header della Sezione {% endcomment %}
    {% if section.settings.title != blank or section.settings.text != blank %}
      <div class="text-center mb-[32px] md:mb-[56px]">
        {% if section.settings.title != blank %}
          <h2 class="heading-sm_gs heading-sm_gsp md:heading-lg_gs md:heading-lg_gsp text-color_gs text-color_gsp">
            {{ section.settings.title }}
          </h2>
        {% endif %}
        {% if section.settings.text != blank %}
          <div class="body-md_gs body-md_gsp md:body-lg_gs md:body-lg_gsp mx-auto text-color_gs text-color_gsp pt-6 lg:pt-10">
            {{ section.settings.text }}
          </div>
        {% endif %}
      </div>
    {% endif %}

    {% comment %} Grid Responsiva {% endcomment %}
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      
      {% for block in section.blocks %}
        {%- assign card_link = block.settings.card_link -%}
        
        <div class="group relative bg-dark_gs bg-beige_gsp rounded-[8px] p-4 transition-all duration-300 hover:shadow-lg" {{ block.shopify_attributes }}>
          
          {%- if card_link != blank -%}
            <a href="{{ card_link }}" class="absolute inset-0 z-10 aria-hidden:true"></a>
          {%- endif -%}

          {% comment %} Header della Card {% endcomment %}
          <div class="flex justify-between items-center mb-6">
            <h3 class="menu-model_gs menu-model_gsp text-color_gs text-color_gsp pr-2">
              {{ block.settings.models_title }} <br>
              {{ block.settings.gamma_models }}
            </h3>
            <span class="shrink-0 transition-transform duration-300 group-hover:translate-x-1 group-hover:-translate-y-1 bg-[#282624] rounded-full p-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <g clip-path="url(#clip0_3323_3339)">
                        <path d="M5.07107 21.2169L19.2132 7.07481L5.77817 6.3677L10.0208 10.6103" stroke="#FAF9F7" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </g>
                    <defs>
                        <clipPath id="clip0_3323_3339">
                        <rect width="24" height="24" fill="white"/>
                        </clipPath>
                    </defs>
                </svg>
            </span>
          </div>

          {% comment %} Immagine della Card {% endcomment %}
          {% if block.settings.image != blank %}
            <div class="overflow-hidden rounded-[8px] aspect-[16/9]">
              <img 
                src="{{ block.settings.image | image_url: width: 800 }}" 
                alt="{{ block.settings.card_title }}"
                class="w-full h-full object-cover transition-transform"
                loading="lazy"
              >
            </div>
          {% else %}
            <div class="bg-gray-200 rounded-[8px] aspect-[16/9] flex items-center justify-center">
              {{ 'image' | placeholder_svg_tag: 'w-12 h-12 opacity-20' }}
            </div>
          {% endif %}

        </div>
      {% endfor %}

    </div>
  </div>
</section>

<style>
  .models-padding {
    padding-top: var(--padding-top-mobile);
    padding-bottom: var(--padding-bottom-mobile);
  }
  @media screen and (min-width: 768px) {
  .models-padding {
    padding-top: var(--pt-tab);
    padding-bottom: var(--pb-tab);
  }
}
@media screen and (min-width: 1024px) {
  .models-padding {
    padding-top: var(--padding-top-desktop);
    padding-bottom: var(--padding-bottom-desktop);
  }
}
</style>

{% schema %}
{
  "name": "Models",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Titolo Sezione",
      "default": "I nostri servizi"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Testo Sezione",
      "default": "<p>Esplora le nostre soluzioni su misura per te.</p>"
    },
    {
      "type": "header",
      "content": "Padding"
    },
    {
      "type": "range",
      "id": "padding_top_mobile",
      "label": "Top padding mobile",
      "min": 0,
      "max": 160,
      "step": 2,
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom_mobile",
      "label": "Bottom padding mobile",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 144
    },
    {
      "type": "range",
      "id": "pt_tab",
      "label": "Top padding tablet",
      "min": 0,
      "max": 160,
      "step": 2,
      "default": 24
    },
    {
      "type": "range",
      "id": "pb_tab",
      "label": "Bottom padding tablet",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 144
    },
    {
      "type": "range",
      "id": "padding_top",
      "label": "Top padding desktop",
      "min": 0,
      "max": 160,
      "step": 2,
      "default": 24
    },
    {
      "type": "range",
      "id": "padding_bottom_desktop",
      "label": "Bottom padding desktop",
      "min": 0,
      "max": 200,
      "step": 2,
      "default": 144
    }
  ],
  "blocks": [
    {
      "type": "card",
      "name": "Card",
      "settings": [
        {
          "type": "text",
          "id": "models_title",
          "label": "Models",
          "default": "Titolo della Card"
        },
        {
          "type": "text",
          "id": "gamma_models",
          "label": "Gamma",
          "default": "Titolo della Card"
        },
        {
          "type": "url",
          "id": "card_link",
          "label": "Link Card"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Immagine Card"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Models",
      "category": "Events - article",
      "blocks": [
        { "type": "card" },
        { "type": "card" },
        { "type": "card" }
      ]
    }
  ]
}
{% endschema %}