<div class="bg_gs bg_gsp rich-text-{{ section.id }} flex flex-col px-4 md:px-8 lg:px-10 xl:px-[128px] gap-10 lg:gap-12">
    <div class="flex flex-col gap-3 lg:gap-6 
        {% if section.settings.alignment_mobile == 'center' %} items-center text-center {% else %} items-starta text-left {% endif %}
        {% if section.settings.alignment_desktop == 'center' %} md:items-center md:text-center {% else %} md:items-starta md:text-left {% endif %}">
        
        {%- if section.settings.rta_subtitle != blank -%}
          <div class="flex pretitle-sm_gs pretitle-sm_gsp md:pretitle-lg_gs md:pretitle-lg_gsp text-blue_gs text-truffle_gsp">
              {{ section.settings.rta_subtitle }}
          </div>
        {%- endif -%}

        {%- if section.settings.rta_h1title != blank -%}
          <div class="flex heading-md_gs heading-md_gsp md:title_gs md:title_gsp text-color_gs text-color_gsp">
              {{ section.settings.rta_h1title }}
          </div>
        {%- endif -%}
                {%- if section.settings.rta_title != blank -%}
          <div class="flex heading-sm_gs heading-sm_gsp md:heading-md_gs md:heading-md_gsp text-color_gs text-color_gsp">
              {{ section.settings.rta_title }}
          </div>
        {%- endif -%}

        {%- if section.settings.rta_text1 != blank -%}
          <div class="body-md_gs body-md_gsp md:body-lg_gs md:body-lg_gsp text-color_gs text-color_gsp lg:max-w-[872px]">
              {{ section.settings.rta_text1 | newline_to_br }}
          </div>
        {%- endif -%}
        {% if section.settings.rta-cta_link != blank %}
              <a id="cta-1-{{ section.id }}"
                  href="{{ section.settings.rta-cta_link }}"
                  class="cta-button w-full text-center lg:w-fit px-7 py-3.5 link-lg_gs link-lg_gsp cta-truffle_gsp cta-101C26_gs transition-all duration-300">
                {{ section.settings.rta-cta_label }}
              </a>
        {% endif %}
     </div>
</div>

<style>
    /* Mobile (Base) */
  .rich-text-{{ section.id }} {
    padding-top: {{ section.settings.pt_mobile }}px;
    padding-bottom: {{ section.settings.pb_mobile }}px;
  }

  /* Tablet (768px+) */
  @media screen and (min-width: 768px) {
    .rich-text-{{ section.id }} {
      padding-top: {{ section.settings.pt_tablet }}px;
      padding-bottom: {{ section.settings.pb_tablet }}px;
    }
  }

  /* Desktop (1024px+) */
  @media screen and (min-width: 1024px) {
    .rich-text-{{ section.id }} {
      padding-top: {{ section.settings.pt_desktop }}px;
      padding-bottom: {{ section.settings.pb_desktop }}px;
    }
  }
</style>

{% schema %}
{
  "name": "Rich text",
  "settings": [
    {
      "type": "header",
      "content": "Section Content"
    },
    {
      "type": "text",
      "id": "rta_subtitle",
      "label": "Subtitle",
      "default": "IL RITORNO DI UN MITO"
    },
    {
      "type": "text",
      "id": "rta_h1title",
      "label": "Title",
      "default": "ESPERIENZE DI YACHTING DI LUSSO BY CANTIERE DEL PARDO"
    },
    {
      "type": "text",
      "id": "rta_title",
      "label": "Title",
      "default": "ESPERIENZE DI YACHTING DI LUSSO BY CANTIERE DEL PARDO"
    },
    {
      "type": "textarea",
      "id": "rta_text1",
      "label": "Text area"
    },
        {
      "type": "text",
      "id": "rta-cta_label",
      "label": "Label Bottone 1"
    },
    {
      "type": "url",
      "id": "rta-cta_link",
      "label": "Link Bottone 1"
    },
    {
      "type": "header",
      "content": "Alignment"
    },
    {
      "type": "select",
      "id": "alignment_mobile",
      "label": "Mobile Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" }
      ],
      "default": "left"
    },
    {
      "type": "select",
      "id": "alignment_desktop",
      "label": "Desktop Alignment",
      "options": [
        { "value": "left", "label": "Left" },
        { "value": "center", "label": "Center" }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Padding Top"
    },
    {
      "type": "range",
      "id": "pt_mobile",
      "label": "Top Mobile",
      "min": 0, "max": 200, "step": 2, "unit": "px", "default": 40
    },
    {
      "type": "range",
      "id": "pt_tablet",
      "label": "Top Tablet",
      "min": 0, "max": 200, "step": 2, "unit": "px", "default": 60
    },
    {
      "type": "range",
      "id": "pt_desktop",
      "label": "Top Desktop",
      "min": 0, "max": 200, "step": 2, "unit": "px", "default": 80
    },
    {
      "type": "header",
      "content": "Padding Bottom"
    },
    {
      "type": "range",
      "id": "pb_mobile",
      "label": "Bottom Mobile",
      "min": 0, "max": 200, "step": 2, "unit": "px", "default": 40
    },
    {
      "type": "range",
      "id": "pb_tablet",
      "label": "Bottom Tablet",
      "min": 0, "max": 200, "step": 2, "unit": "px", "default": 60
    },
    {
      "type": "range",
      "id": "pb_desktop",
      "label": "Bottom Desktop",
      "min": 0, "max": 200, "step": 2, "unit": "px", "default": 80
    }
  ],
  "presets": [
    {
      "name": "Rich text artaicle",
      "category": "Article"
    }
  ]
}
{% endschema %}